{% extends "base.html" %}

{% block content_first %}
    <h1>Contact Details</h1>
    <ul>
        <li style="padding-bottom:10px;">Name: Sayak Roy</li>
        <li style="padding-bottom:10px;">Address: London, United Kingdom</li>
        <li style="padding-bottom:10px;">Mobile No. 6290409930</li>
        <li style="padding-bottom:10px;">EmailID: sayak3848@gmail.com</li>
        <li style="padding-bottom:10px;">Office: ROY & Co..</li>
        <li>Office address: London</li>

    </ul>
{% endblock content_first %}